h2 {
  font-size: 25px;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
  color: #00cc99;
  text-transform: uppercase;
}

nav {
  color: #fff;
  background-color: #003333;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;

}

.sectionFeatures {
	background-color: #f4f7f9;
}

.largeurSite {
	width: 1000px;
	margin: auto;

}